<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:if="${not #lists.isEmpty(taskList)}">
    <tr>
        <td>

            <!--  Task list header START -->
            <table border="0" cellpadding="0" cellspacing="1" align="center" width="400">
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="20" align="right" class="taskListHeader">
                                    <label th:text="lp."/>
                                </td>
                                <td width="120" class="taskListHeader">
                                    <label th:text="Name"/>
                                </td>
                                <td width="60" align="center" class="taskListHeader">
                                    <label th:text="State"/>
                                </td>
                                <td width="10" align="center" class="taskListHeader">

                                </td>
                                <td width="10" align="center" class="taskListHeader">

                                </td>
                                <td width="70" align="center" class="taskListHeader">
                                    <label th:text="Due"/>
                                </td>
                                <td width="40" align="right" class="taskListHeader">
                                    <label th:text="Cost"/>
                                </td>
                                <td width="40" align="center" class="taskListHeader">
                                    <label th:text="Status"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--  Task list header END -->

            <!--  Task list table START -->
            <table border="0" cellpadding="0" cellspacing="1" align="center" th:each="task : *{taskList}" width="400">
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="20" align="right" class="taskListPosition">
                                    <label th:text="${taskListCounter.getAndIncrement()}"/>.
                                </td>
                                <td width="*" class="taskListPosition">
                                    <a class="taskListName" th:href="@{'/task/' + ${task.id}}"><label class="taskListName" th:text="${task.name}"/></a>
                                </td>
                                <td width="60" align="center" class="taskListPosition">
                                    <label th:text="${task.taskState.label}" th:style="${task.taskState.style}"/>
                                </td>
                                <td width="10" align="center" class="taskListPosition" style="color:#008800;font-weight: bold;">
                                    <div th:if="${task.important}">?</div>
                                </td>
                                <td width="10" align="center" class="taskListPosition" style="color:#880000;font-weight: bold;">
                                    <div th:if="${task.urgent}">!</div>
                                </td>
                                <td width="70" align="center" class="taskListPosition">
                                    <label th:text="${task.dueFormatted}"/>
                                </td>
                                <td width="40" align="right" class="taskListPosition">
                                    <label th:text="${task.costValue}"/>&nbsp;<label th:text="${task.costUnitAbreviation}"/>
                                </td>
                                <td width="40" align="center" class="taskListPosition">
                                    <div th:if="${(task.taskStatus ne null)}">
                                        <label th:text="${task.taskStatus.label}" th:style="${task.taskStatus.style}"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <div th:if="${showTaskDetails}">
                    <tr>
                        <td class="taskListTaskDescription" th:text="${task.description}"></td>
                    </tr>
                    <div th:if="${not #lists.isEmpty(task.requiredTasks)}">
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" th:each="requiredTask : *{task.requiredTasks}" width="100%">
                                    <tr>
                                        <td class="rightLabel" width="74"></td>
                                        <td><li><a th:href="@{'/task/' + ${requiredTask.id}}"><label class="Purisa" th:text="${requiredTask.name}"/></a></li></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </div>
                    <tr>
                        <td><a th:href="@{'/task_delete/' + ${task.id}}">DELETE</a></td>
                    </tr>
                </div>
            </table>
            <!--  Task list  table END -->

        </td>
    </tr>

    <tr><td><hr width="99%" size="1"/></td></tr>

</div>

</html>