<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="action_buttons">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td class="rightButton" WIDTH="*">
                &nbsp;
            </td>
            <td class="rightButton" WIDTH="80">

            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="d" class="buttonShort" name="actionCommandButton" type="submit" value="TODAY">🔴</button>
            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="t" class="buttonShort" name="actionCommandButton" type="submit" value="TOMMOROW">🟠</button>
            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="w" class="buttonShort" name="actionCommandButton" type="submit" value="NEXT_WEEKEND">🟡</button>
            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="s" class="buttonShort" name="actionCommandButton" type="submit" value="NEXT_WEEK">🔵</button>
            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="h" class="buttonShort" name="actionCommandButton" type="submit" value="NEXT_MONTH">🟣</button>
            </td>
            <td class="rightButton" WIDTH="120">

            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="p" class="buttonShort" name="actionCommandButton" type="submit" value="PROCES">🕛</button>
            </td>
        </tr>
        <tr>
            <td class="rightButton" WIDTH="*">
                &nbsp;
            </td>
            <td class="rightButton" WIDTH="80">

            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="s" class="buttonShort" name="actionCommandButton" type="submit" value="START">▶</button>
            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="h" class="buttonShort" name="actionCommandButton" type="submit" value="STOP">⭕</button>
            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="r" class="buttonShort" id="rejectButton" name="actionCommandButton" type="submit" value="REJECT">❌</button>
            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="c" class="buttonShort" name="actionCommandButton" type="submit" value="COMPLETE">🟩</button>
            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="t" id="deleteButton" class="buttonShort" name="actionCommandButton" type="submit" value="DELETE">🟫</button>
            </td>
            <td class="rightButton" WIDTH="120">

            </td>
            <td class="rightButton" WIDTH="80">
                <button accesskey="t" class="buttonShort" name="actionCommandButton" type="submit" value="SAVE">🔻</button>
            </td>
        </tr>
    </table>
</div>