<div th:fragment="file_upload">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="rightLabel" width="74">File</td>
        <td class="left" width="*"><input type="file" name="file" class="fileSelect"/></td>
        <td class="rightButton" WIDTH="73">
            <button accesskey="t" class="buttonShort" name="actionCommandButton" type="submit" value="DELETE">🟫</button>
        </td>
        <td class="rightButton" WIDTH="73">
            <button accesskey="t" class="buttonShort" name="actionCommandButton" type="submit" value="SAVE">🔻</button>
        </td>
    </tr>

<!--    <div th:if="${not #lists.isEmpty(files)}">-->
<!--        <tr>-->
<!--            <td class="rightLabel" width="74"></td>-->
<!--            <td class="left" width="*" colspan="3">-->
<!--                <ul>-->
<!--                    <li th:each="file : ${files}">-->
<!--                        <a th:href="${file}" th:text="${file}" />-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </td>-->
<!--            <td class="left" width="164"></td>-->
<!--            <td class="error" width="94"></td>-->
<!--        </tr>-->
<!--    </div>-->
    </table>
</div>