<div th:fragment="filter">
<!--  Task filter form START -->
<table border="0" align="center" cellpadding="3" cellspacing="0" width="100%">
    <tr><td colspan="10" align="center"><hr width="99%" size="1"/></td></tr>
    <tr>
        <td class="rightLabel" width="74"></td>
        <td class="centerValue" width="160">
            <input class="filterPhrase" th:field="*{taskFilterForm.phrase}" type="text" maxlength="200"/>
        </td>
        <td class="rightCheckbox" width="20">
            <input th:field="*{taskFilterForm.important}" type="checkbox" value="*{taskFilterForm.important}"/>
        </td>
        <td class="leftValue" width="60">
            Important
        </td>
        <td class="rightCheckbox" width="20">
            <input th:field="*{taskFilterForm.urgent}" type="checkbox" value="*{taskFilterForm.urgent}"/>
        </td>
        <td class="leftValue" width="60">
            Urgent
        </td>
        <td class="leftValue" width="70">
            <select class="selectStandard" th:field="*{taskFilterForm.taskType}" value="*{taskFilterForm.taskType}">
                <option class="selectMediumOption" value="">⚪</option>
                <option class="selectMediumOption" th:each="taskType : ${T(online.ronikier.todo.domain.dictionary.TaskType).values()}"
                        th:value="${taskType}" th:text="${taskType.label}"/>
            </select>
        </td>
        <td class="leftValue" width="70">
            <select class="selectStandard" th:field="*{taskFilterForm.taskState}" value="*{taskFilterForm.taskState}">
                <option class="selectMediumOption" value="">⚪</option>
                <option class="selectMediumOption" th:each="taskState : ${T(online.ronikier.todo.domain.dictionary.TaskState).values()}"
                        th:value="${taskState}" th:text="${taskState.label}"/>
            </select>
        </td>
        <td class="leftValue" width="70">
            <select class="selectStandard" th:field="*{taskFilterForm.taskStatus}" value="*{taskFilterForm.taskStatus}">
                <option class="selectMediumOption" value="">⚪</option>
                <option class="selectMediumOption" th:each="taskStatus : ${T(online.ronikier.todo.domain.dictionary.TaskStatus).values()}"
                        th:value="${taskStatus}" th:text="${taskStatus.label}"/>
            </select>
        </td>
        <td class="rightButton" width="*">
            <button accesskey="f" class="buttonShort" name="actionCommandButton" type="submit" value="FILTER">FILTER</button>
        </td>
    </tr>
    <tr><td colspan="10" align="center"><hr width="99%" size="1"/></td></tr>
</table>
<!--  Task filter form END -->
</div>