<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Brain Support</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <meta charset="utf-8">
</head>
<body>
    <table border="1" align="center" width="500">
        <tr>
            <td>
                <hr width="100%" size="1"/>
            </td>
        </tr>
        <tr>
            <td class="leftValue">
                Add your jobs <a href="/task">here</a>
            </td>
        </tr>
        <tr>
            <td class="leftValue">
                Add your dudes <a href="/person">here</a>
            </td>
        </tr>
        <tr>
            <td class="leftValue">
                Logout <a href="/logout">here</a>
            </td>
        </tr>
        <tr>
            <td>
                <hr width="100%" size="1"/>
            </td>
        </tr>
    </table>
</body>
</html>