<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Brain Support - Persons</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <meta charset="utf-8">
</head>
<body>

<script>

    // Focus on person username
    window.onload = function() {
        document.getElementById("personUsername").focus();
        var personUsername = document.getElementById("personUsername").value;
        document.getElementById("personUsername").value = '';
        document.getElementById("personUsername").value = personUsername;
    };

</script>

<table border="0" class="person" align="center">
    <tr>
        <td>
            <form action="#" method="post" th:action="@{/person}" th:object="${personForm}">
                <table border="0" align="center" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="rightLabel" width="80"></td>
                        <td class="leftValue" width="143"><input class="textShort" id="personUsername" th:field="*{username}" type="text" maxlength="10"/></td>
                        <td class="error"  width="275" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Username Error</td>
                    </tr>
                    <tr>
                        <td class="rightLabel" width="80"></td>
                        <td class="leftValue" width="143"><input class="textShort" id="personPassword" th:field="*{password}" type="text" maxlength="10"/></td>
                        <td class="error"  width="275" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password Error</td>
                    </tr>
                    <tr>
                        <td class="rightLabel">is known by</td>
                        <td class="leftValue">
                            <select class="selectMedium" th:field="*{knownByPersonId}">
                                <option value="none">nope</option>
                                <option th:each="person : *{persons}" th:text="${person.username}"
                                        th:value="${person.id}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="rightLabel"></td>
                        <td class="rightButton">
                            <button accesskey="d" class="buttonShort" name="action" type="submit" value="save">PREGO</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <hr width="100%" size="1"/>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>

    <div th:if="${not #lists.isEmpty(personList)}">
        <tr>
            <td>
                <table border="0" align="center" th:each="person : *{personList}" width="100%">
                    <tr>
                        <td class="leftValue">
                            <a th:href="@{'/person/' + ${person.id}}">
                                <label th:text="${person.username}"/>
                            </a>
                        </td>
                    </tr>
                    <div th:if="${not #lists.isEmpty(person.knownPersons)}">
                        <tr>
                            <td>
                                <table border="0" cellspacing="0" cellpadding="0" th:each="knownPerson : *{person.knownPersons}">
                                    <tr>
                                        <td width="10"></td>
                                        <td >
                                            <label class="knowsSomething">knows</label>
                                            <a class="knowsSomething" th:href="@{'/person/' + ${knownPerson.id}}">
                                                <label class="knowsSomething" th:text="${knownPerson.username}"/>
                                            </a>
                                            <label class="knowsSomething">...</label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </div>
                    <tr>
                        <td class="leftValue"><a th:href="@{'/person_delete/' + ${person.id}}">BANG !!!</a></td>
                    </tr>
                    <tr>
                        <td>
                            <hr width="100%" size="1"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </div>
</table>

</body>
</html>