<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Task tracking system - <h1 th:text="#{task}"></h1></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
    <meta charset="utf-8">
</head>
<body>

<center>
    <button class="buttonShort" id="taskButton">TASK INFO</button>
</center>

<!-- The Modal -->
<div class="modal" id="taskInfoDialog">

    <div class="taskInfoDialog">
        <span class="close">&times;</span>
        <table>
            <tr>
                <td class="rightLabel">Number of tasks:</td>
                <td class="leftValue" th:text="*{taskCount}"></td>
            </tr>
        </table>
    </div>

</div>

<script>

    // Focus on task name
    window.onload = function() {
        document.getElementById("taskName").focus();
        var taskName = document.getElementById("taskName").value;
        document.getElementById("taskName").value = '';
        document.getElementById("taskName").value = taskName;
    };

    // Get the modal
    var modal = document.getElementById("taskInfoDialog");

    // Get the button that opens the modal
    var taskButton = document.getElementById("taskButton");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    taskButton.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

</script>

<br/>
<br/>

<table align="center" class="task">
    <tr>
        <td>
            <form action="#" method="post" th:action="@{/task}" th:object="${taskForm}">
                <table align="center" cellspacing="5" width="800">
                    <tr>
                        <td class="rightLabel">Übertask:</td>
                        <td class="left" colspan="2">
                            <select class="selectMedium" style="width: 131px; height=18px;" th:field="*{uberTaskId}">
                                <option th:each="task : *{uberTasks}" th:text="${task.name}"
                                        th:value="${task.id}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <input th:field="*{id}" type="hidden"/>
                        <td class="rightLabel" width="100">Name:</td>
                        <td class="left" width="*"><input class="textShort" id="taskName" th:field="*{name}"
                                                          type="text"/></td>
                        <td class="error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}" width="300">Name
                            Error
                        </td>
                    </tr>
                    <tr>
                        <td class="rightLabel">Description:</td>
                        <td class="left"><textarea class="description" cols="40" rows="5" th:field="*{description}"/>
                        </td>
                        <td class="error" th:errors="*{description}" th:if="${#fields.hasErrors('description')}">
                            Description Error
                        </td>
                    </tr>
                    <tr>
                        <td class="rightLabel">Urgent:</td>
                        <td class="left"><input th:field="*{urgent}" type="checkbox"/></td>
                        <td th:errors="*{urgent}" th:if="${#fields.hasErrors('urgent')}">Urgent Error</td>
                    </tr>
                    <tr>
                        <td class="rightLabel">Important:</td>
                        <td class="left"><input th:field="*{important}" type="checkbox"/></td>
                        <td th:errors="*{important}" th:if="${#fields.hasErrors('important')}">Important Error</td>
                    </tr>
                    <tr>
                        <td class="rightLabel">Created:</td>
                        <td class="left"><input class="dateShort" th:field="*{created}" type="date"/></td>
                        <td class="error" th:errors="*{created}" th:if="${#fields.hasErrors('created')}">Created Error
                        </td>
                    </tr>
                    <tr>
                        <td class="rightLabel">Start:</td>
                        <td class="left"><input class="dateShort" th:field="*{start}" type="date"/></td>
                        <td class="error" th:errors="*{start}" th:if="${#fields.hasErrors('start')}">Start Error</td>
                    </tr>
                    <tr>
                        <td class="rightLabel">Due:</td>
                        <td class="left"><input class="dateShort" th:field="*{due}" type="date"/></td>
                        <td class="error" th:errors="*{due}" th:if="${#fields.hasErrors('due')}">Due Error</td>
                    </tr>
                    <tr>
                    </tr>
                    <td class="rightLabel"></td>
                    <td class="left" colspan="2">
                        <button accesskey="t" class="buttonShort" name="action" type="submit" value="save">SAVE TASK
                        </button>
                    </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>

    <div th:if="${not #lists.isEmpty(allTasks)}">
        <tr>
            <td>
                <table align="center" th:each="task : *{allTasks}" width="100%">
                    <tr>
                        <td class="taskListTaskName">
                            &nbsp;<a th:href="@{'/task/' + ${task.id}}">
                            <label th:text="${task.name}"></label>
                        </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="taskListTaskDescription" th:text="${task.description}"></td>
                    </tr>
                    <tr>
                        <td>
                            <a th:href="@{'/task_delete/' + ${task.id}}">
                                DELETE
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr width="*"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </div>
</table>

</body>
</html>