<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<html>

    <head>
        <title>Brain Support - Tasks</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" th:href="@{/styles/main.css}"/>
        <meta charset="utf-8">
<!--        <meta name="viewport" content="width=device-width, initial-scale=1">-->
    </head>

    <body>

        <div th:insert="popup::popup">...</div>

        <div th:insert="java_script::java_script">...</div>

        <table border="0" width="700" align="center" bgcolor="#EEEEEE" cellpadding="0" cellspacing="0">

                            <div th:insert="task_form::task_form">...</div>

                <tr>
                    <td>

                    <div th:insert="filter::filter">...</div>

                    </td>
                </tr>

            <!--  Task form END -->

            <div th:insert="task_list::task_list">...</div>

            <tr><td align="center"><hr width="99%" size="1"/></td></tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td class="rightLabelInfo" width="80">State</td>
                            <td class="leftValueInfo" th:utext ="*{infoTaskState}" width="*"></td>
                        </tr>
                        <tr>
                            <td class="rightLabelInfo" width="80">Status</td>
                            <td class="leftValueInfo" th:utext ="*{infoTaskStatus}" width="*"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><td align="center"><hr width="99%" size="1"/></td></tr>

        </table>

    </body>

</html>